.logoImg{

}
.H1{
    margin-left: 15px;
    font-size: 40px;
}
.logo,
.Login{
    display: flex;
    align-items: center;
}
.NavBar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: black;
    color: white;
}

.btn{
    padding: 5px;
    border-radius: 25px;
    font-family: Pacifico;
}
.logOut{
    font-size: 20px;
    cursor: pointer;
    font-family: 700;
    margin-right: 30px;
    background-color: transparent;
    color: white;
    border-radius: 30%;
}

.User{
    display: flex;
    align-items: center;
    text-align: center;
}

.Figure{
    margin: 0 25px;
}